[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "src/utils/CppConsoleGameLibrary"]
	path = src/utils/CppConsoleGameLibrary
	url = https://git.homegu.com/DavDag/CppConsoleGameLibrary.git
[submodule "SimpleUnoptimizedFsm"]
	path = SimpleUnoptimizedFsm
	url = https://github.com/MinnullinIrek/SimpleUnoptimizedFsm.git

